* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 1em sans-serif;
}

body {
    height: 100%;
    width: 100%;
    padding: 14px 18px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* container */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* logo */

.logo {
    margin-top: -20px;
    height: 60px;
    width: 135px;
}

.logo img {
    background-size: cover;
    height: 100%;
    width: 100%;
}

/* sign-in box */

.sigin-box {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 100%;
    padding: 20px 26px;
    border: 2px solid #e7e9e9;
    border-radius: 10px;
    background-color: white;
}

/* title */

.sigin-box .title {
    font-size: 28px;
    margin: 0 0 10px;
    padding: 0 0 4px;
}

/* input */

.input {
    display: flex;
    flex-direction: column;
}

.sigin-box .input p {
    font-size: 14px;
    font-weight: 600;
    padding: 0 0 2px 2px;
}

.sigin-box .input input[type="text"] {
    padding: 3px 7px;
    height: 31px;
    margin-bottom: 6px;
    border: 2px solid #c9c9c9;
    border-radius: 5px;
}

.sigin-box .input input[type="text"]:focus {
    outline: none;
    border: 1px solid #007185;
    box-shadow: 0 0 8px 2px rgba(200, 243, 250, 255);
}

.sigin-box .input input[type="submit"] {
    padding: 1px 6px;
    margin-top: 6px;
    border-radius: 15px;
    cursor: pointer;
    height: 29px;
    background: #ffd814;
    border: none;
    font-size: 13px;
    font-weight: 500;
}

.sigin-box .input input[type="submit"]:hover {
    background: #e7c622;
}

/* text */

.text p {
    font-size: 12px;
    margin: 18px 0 0;
    margin-bottom: 22px;
}

.text p a {
    color: #0066c0;
}

.text p a:hover {
    color: rgba(255, 68, 0, 0.956);
}

/* help text */

.help {
    border-bottom: 1px solid #eaecec;
}

.help li {
    font-size: 14px;
    margin-bottom: 20px;
}

.help li a {
    color: #0066c0;
    text-decoration: none;
}

.help li a:hover {
    color: rgba(255, 68, 0, 0.956);
    text-decoration: underline;
}

/* business text */

.business h4 {
    font-size: 14px;
    margin: 0 0 4px;
    margin-top: 20px;
    font-weight: 600;
}

.business p a {
    font-size: 14px;
    color: #0066c0;
    text-decoration: none;
}

.business p a:hover {
    color: rgba(255, 68, 0, 0.956);
    text-decoration: underline;
}

/* more links */

.more-links {
    max-width: 350px;
    width: 100%;
}

.line-container {
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}

.line {
    flex-grow: 1;
    height: 1px;
    background-color: #ebebeb;
    margin: 0 0 14px;
    padding: 1px 0 0;
}

.legend {
    font-size: 12px;
    padding: 0 8px 0 7px;
    color: #767676;
    margin-bottom: 14px;
}

/* create button */

.create-link {
    display: inline-block;
    text-decoration: none;
}

.create {
    width: 350px;
    padding: 0 10px 0 11px;
    font-size: 13px;
    height: 29px;
    border-radius: 15px;
    border: 2px solid #cacccc;
    background: #ffffff;
    margin-bottom: 30px;
    text-align: center;
    cursor: pointer;
}

.create a:focus {
    outline: none;
    border: 1px solid #007185;
    box-shadow: 0 0 8px 2px rgba(200, 243, 250, 255);
}

.create:hover {
    background: #f5f5f5;
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: row;
    margin: 0 0 10px;
    padding-top: 40px;
    gap: 20px;
    justify-content: center;
    width: 100%;
    border-top: 2px solid #d5d9d9;
}

.footer a {
    font-size: 12px;
    color: #0066c0;
    text-decoration: none;
}

.footer a:hover {
    color: rgba(255, 68, 0, 0.956);
    text-decoration: underline;
}

.copyright {
    font-size: 12px;
    margin-top: 2px;
    font-weight: 500;
    color: #565959;
}

/* responsiveness */

@media (max-width: 390px) {

    .more-links,
    .create {
        width: 300px;
    }

    .sigin-box {
        width: 100%;
    }
}